.fixed-footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
}

.clickable{
	cursor: pointer;
	pointer-events: initial;
}

.track{
	padding: 14px;
}

.track .artwork {
	height: 100px;
	width: 100px;
}

.track .title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.playlist{
/*	display: flex;
	overflow-x: auto;*/
}

.playlist .track {
	padding: 10px;
/*	flex-shrink: 0;*/
}

.playlist .track .title {
	color: white;
	display: none;
}

.noMargin{
	margin: 0px!important;
}

.searchNav{
	margin-top: 10px;
}

.playlistTitle{
	text-align: center;
}

.songTitle{
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

 .hidden{
 	display:none;
 }

 .header{
 	    margin: 0px 25px;
 }

 .del{
    top: 55px!important;
    left: 0px!important;
}